<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<meta name="_csrf" th:content="${_csrf.token}">
<title>CONTENT</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script
src="https://code.jquery.com/jquery-3.7.1.js"
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
crossorigin="anonymous"></script>
</head>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<h2>Content</h2>
		<table class="tbl_write">
			<tbody>
				<tr>
					<td><input type="text" name="title"
						th:value="${board.title}" readonly></td>
				</tr>
				<tr>
					<td><textarea rows="5" cols="50" name="content"
							th:text="${board.content}" readonly></textarea></td>
				</tr>

				<tr>
					<td>
						<div class="board_info">
							<p th:text="'writer: ' + ${board.member.name}"></p>
							<p th:text="'date: ' + ${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')} + ' (created)'"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<!-- 댓글 영역 -->
		
		
		<!-- 댓글 목록 -->
		<div class="reply">
			<div class="reply_div" th:each="reply:${board.replyList}">
				<p class="reply_list_content" th:text="${reply.content}">
				</p>
						<span class="reply_writer" th:text="'작성자: '+ ${reply.member.name} + '(작성일: ' + ${reply.createdDate} + ')'"></span>
       		  	   <th:block sec:authorize="isAuthenticated()"
       		  	         th:if="${#authentication.getPrincipal.getUsername()}==
       		  	                 ${board.member.memberId}">
					<div class="reply_update">
						<p><a th:href="'#'">수정</a> | 
						<!-- 자바스크립트에서 자료형 값을 유지 해야 할 경우 = [[자료]] 의 형식으로 쓴다 -->
						<a th:href="'#'" th:onClick="replyObject.deleteReply([[${board.id}]], [[${reply.id}]])">삭제</a></p>
					</div>
				</th:block>
			</div>
		</div>
		
		<!-- 댓글 등록 -->
		<div class="reply-insert">
			<input type="hidden" id="boardId" th:value="${board.id}">
			<p>
				<textarea id="replyContent" rows="3" cols="95" placeholder="댓글을 남겨주세요"></textarea>
			</p>
			<button id="btn-save-reply">댓글 등록</button>
		</div>
		
		
		
		<div class="writeBtn">
			<!-- <input class="write_btn" type="submit" value="Write">  -->
			<div class="other_writeBtn">
       		  	   <th:block sec:authorize="isAuthenticated()"
       		  	         th:if="${#authentication.getPrincipal.getUsername()}==
       		  	                 ${board.member.memberId}">
					<a th:href="@{|/board/update/${board.id}|}">
					    <button class="write_cancel_btn" type="button">Update</button></a>
					<a th:href="@{|/board/delete/${board.id}|}">
						<button class="write_cancel_btn" type="button"
							    onclick="return confirm('해당 게시글을 삭제하시겠습니까?')">Delete</button>
					</a>
				</th:block>
				<!-- Pageable 크래스의 page -> getPageNumber() -->
				<a th:href="@{/board/list}"><button
						class="write_cancel_btn" type="button">List</button></a>
				<!-- <input class="write_cancel_btn" type="reset" value="Cancel"> -->
			</div>
		</div>
	</div>
	<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
<script src="../js/reply.js"></script>
</body>
</html>