<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<meta charset="UTF-8">
<title>CONTENT</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<h2>Content</h2>
		<table class="tbl_write">
			<tbody>
				<tr>
					<td><input type="text" name="title"
						th:value="${board.title}" readonly></td>
				</tr>
				<tr>
					<td><textarea rows="5" cols="50" name="content"
							th:text="${board.content}" readonly></textarea></td>
				</tr>

				<tr>
					<td>
						<div class="board_info">
							<p th:text="'writer: ' + ${board.member.name}"></p>
							<p th:text="'date: ' + ${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')} + ' (created)'"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="writeBtn">
			<!-- <input class="write_btn" type="submit" value="Write">  -->
			<div class="other_writeBtn">
				<th:block sec:autocapitalize="isAuthenticated()"
						 th:if="${#authentication.getPrincipal.getUsername()} == ${board.member.memberId}">
					<a th:href="@{|/board/update/${board.id}|}">
					    <button class="write_cancel_btn" type="button">Update</button></a>
					<a th:href="@{|/board/delete/${board.id}|}">
						<button class="write_cancel_btn" type="button"
							    onclick="return confirm('해당 게시글을 삭제하시겠습니까?')">Delete</button>
					</a>
				</th:block>
				<!-- Pageable 크래스의 page -> getPageNumber() -->
				<a th:href="@{/board/list}"><button
						class="write_cancel_btn" type="button">List</button></a>
				<!-- <input class="write_cancel_btn" type="reset" value="Cancel"> -->
			</div>
		</div>
	</div>
	<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
</body>
</html>