<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>BOARD</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<h2 class="h2">Board</h2>
		<table class="tbl_list">
			<thead>
				<tr>
					<th>No</th>
					<th>Title</th>
					<th>Writer</th>
					<th>Date</th>
				</tr>
			</thead>
			<tbody>
 				<tr th:each="board : ${boardList}">
 					<td th:text="${board.id}"></td>
 					<!-- <td th:text="${board.title}"></td> -->
 					<td>
 						<a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a>
 					</td>
 					<td th:text="${board.member.name}"></td>
 					<td th:text="${#dates.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
 				</tr>
			</tbody>
		</table>
		
		<!-- 버튼 영역 -->
		<div class="listBtn">
			<a th:href="@{/board/write}"><button class="idx_btn_join">Write</button></a>
			<a th:href="@{/}"><button class="btn_home" type="button">Home</button></a>
		</div>
	</div>
	<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
</body>
</html>