<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2 class="h2">My Home에 오셨습니다!</h2>
		<!-- static 설정 불필요 -> 절대 경로로 가져옴 -->
		<div class="main_img">
			<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
		</div>
		<div class="menu">
			<a th:href="@{/member/join}"><button class="idx_btn_join">Join</button></a>
			<a th:href="@{/member/login}"><button class="idx_btn_login">Login</button></a>
			<a th:href="@{/member/list}"><button class="idx_btn_list">List</button></a>
		</div>
		<div class="menu">
			<a th:href="@{/board/write}"><button class="idx_btn_list">Write</button></a>
		</div>
	</div>
</body>
</html>