<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2 th:text="${session.sessionName} + '님 환영합니다'"></h2>
		<!-- static 설정 불필요 -> 절대 경로로 가져옴 -->
		<div class="main_img">
			<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
		</div>
		<div class="menu">
			<a th:href="@{/member/update}"><button class="idx_btn_join">Update</button></a>
			<a th:href="@{/member/logout}"><button class="idx_btn_login" onclick="logout()">Logout</button></a>
			<a th:href="@{/member/list}"><button class="idx_btn_list">Member</button></a>
		</div>
		<div class="menu">
			<a th:href="@{/board/write}"><button class="idx_btn_join">Write</button></a>
			<a th:href="@{/board/pagelist}"><button class="idx_btn_list">Board</button></a>
		</div>
	</div>
<script>
	const logout = function(){
		alert("로그아웃 되었습니다");
	}
</script>
</body>
</html>