<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>JOIN</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2 class="h2">Join</h2>
		<form th:action="@{/member/join}" method="post" class="form_join">
			<fieldset>
				<ul>
					<li>
						<label for="memberEmail">Email</label>
						<input type="text" name="memberEmail" id="memberEmail"
						       placeholder="email">
					</li>
					<li>
						<label for="memberPassword">Password</label>
						<input type="password" name="memberPassword" id="memberPassword"
						       placeholder="password">
					</li>
					<li>
						<label for="memberName">Name</label>
						<input type="text" name="memberName" id="memberName"
						       placeholder="name">
					</li>
					<li>
						<label for="memberAge">Age</label>
						<input type="text" name="memberAge" id="memberAge"
						       placeholder="age">
					</li>
					<li>
						<input type="submit" value="SignUp">
						<input type="reset" value="Cancel">
						<a th:href="@{}"></a>
					</li>
				</ul>
			</fieldset>
		</form>
	</div>
</body>
</html>