<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>LIST</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2 class="h2">List</h2>
		<table class="tbl_list">
			<thead>
				<tr>
					<th>NO</th>
					<th>ID</th>
					<th>Name</th>
					<th>Role</th>
					<th>View</th>
					<th>Del</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="member: ${memberList}">
					<td th:text="${member.id}"></td>
					<td th:text="${member.memberId}"></td>
					<td th:text="${member.name}"></td>
					<td th:text="${member.role}"></td>
					<td><a th:text="view" th:href="@{|/member/${member.id}|}"></a></td>
					<td><a th:text="delete" th:href="@{|/member/delete/${member.id}|}" onClick="return confirm('해당 회원을 삭제하시겠습니까?')"></a></td>
<!-- 					<td>
						버티컬바(|)는 ${member.i d}를 숫자로 유지시켜줌
						<a th:href="@{|/member/${member.meberId}|}" class="inquiry">Detail</a> / 
						<a th:href="@{|/member/delete/${member.memberId}|}" class="delete" 
						onclick="return confirm('해당 회원을 삭제하시겠습니까?')">Delete</a>
					</td> -->
				</tr>
			</tbody>
		</table>
		<div class="listBtn">
			<a th:href="@{/member/join}"><button class="idx_btn_join">Join</button></a>
			<a th:href="@{/main}"><button class="idx_btn_login">Main</button></a>
			<!-- <a th:if="${session.sessionEmail}" th:href="@{/main}"><button class="btn_home" type="button">Home</button></a>
			<a th:unless="${session.sessionEmail}" th:href="@{/}"><button class="btn_home" type="button">Home</button></a> -->
		</div>
	</div>
</body>
</html>