<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>UPDATE</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2 class="h2">Update</h2>
		<div class="detail">
			<form th:action="@{/member/update}" method="post">
				<fieldset class="fs_detail">
					<ul>
						<li><label for="id">NO</label> <input type="text" readonly
							name="id" id="id" th:value="${member.id}"></li>
						<li><label for="memberId">ID</label> <input type="text" readonly
							name="memberId" id="memberId" th:value="${member.memberId}"></li>
						<li><label for="password">Password</label> <input type="text"
							name="password" id="password" th:value="${member.password}"></li>
						<li><label for="name">Name</label> <input type="text" 
							name="name" id="name"  th:value="${member.name}"></li>
						<li><label for="role">Role</label> <input type="text" readonly
							name="role" id="role"  th:value="${member.role}"></li>
					</ul>
				</fieldset>
				<div class="updateBtn">
					<button class="btn_submit" type="submit">Update</button>
				 	<div class="other_update_btn">
				 		<a th:href="@{/main}"><button id="btn_back" type="button">Main</button></a>
						<button class="btn_reset" type="reset">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>