<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<section id="main">
			<h2 class="h2">안녕하세요 게시판 프로젝트입니다</h2>
			<!-- static 설정 불필요 -> 절대 경로로 가져옴 -->
			<div class="main_img">
				<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
			</div>
		</section>
	</div>
	<!-- footer.html 연결 -->
<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
</body>
</html>