<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>INDEX</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
 <script
src="https://code.jquery.com/jquery-3.7.1.js"
integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
crossorigin="anonymous"></script>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<section id="main">
			<h2 class="h2">안녕하세요 게시판 프로젝트입니다</h2>
			<!-- static 설정 불필요 -> 절대 경로로 가져옴 -->
			<div class="main_img">
				<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
			</div>
			<div class="weather">
				<h2>오늘의 날씨</h2>
			    <h3 class="result">
			        <!-- 20240125, 0600, -9.1 -->
			    </h3>
			</div>
		</section>
	</div>
	<!-- footer.html 연결 -->
<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
<script>
// 날짜를 변수화
	const date = new Date();
	console.log(date);
	let year = date.getFullYear();   // 2024
	let month = '0' + date.getMonth()+1;   // 1
	let day = '0' + date.getDate();        // 25
	month = month.substring(1) // substring(인덱스)인덱스부터 끝까지 추출
	day = day.substring(1);
	
	let today = year + month + day;

    $.ajax({
        type: "GET",
        url: "https://apis.data.go.kr/1360000/VilageFcstInfoService_2.0/getUltraSrtNcst?serviceKey=Czv3Me9Ivw6piA470yefflffDGzAsw9tObOp4T5OariNl8C3CGpaUt9JHcev%2BlOlh8%2FTj2fcYguzY86yh87F%2Fg%3D%3D&pageNo=1&numOfRows=1000&dataType=JSON&base_date=" + today + "&base_time=0600&nx=55&ny=127",
        // data: ,
        success: function(data){
            console.log(data);
            console.log(data.response.body.items.item[3].obsrValue);
            let item = data.response.body.items.item[3];
            let content = "날짜: " + item.baseDate + 
                          ", 발표시각: " + item.baseTime +
                          ", 기온: " + item.obsrValue;
            $('.result').text(content);
        },
        error: function(error){
            console.log(error);
        }

    });
</script>
</body>
</html>