<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
<meta charset="UTF-8">
<title>MAIN</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<div sec:authorize="isAuthenticated()" class="auth">
			<h3 sec:authentication="principal.member.name"></h3>
		</div>
		<div class="main_img">
			<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
		</div>
		<div class="menu">
			<a th:href="@{/member/update}"><button class="idx_btn_join">Update</button></a>
			<a th:href="@{/member/logout}"><button class="idx_btn_login" onclick="logout()">Logout</button></a>
			<a th:href="@{/member/list}"><button class="idx_btn_list">Member</button></a>
		</div>
		<div class="menu">
			<a th:href="@{/board/write}"><button class="idx_btn_join">Write</button></a>
			<a th:href="@{/board/list}"><button class="idx_btn_list">Board</button></a>
		</div>
	</div>
<script>
	const logout = function(){
		alert("로그아웃 되었습니다");
	}
</script>
</body>
</html>