<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" >
<head>
<meta charset="UTF-8">
<title>MAIN</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<header th:replace="~{layout/header :: header-fragment}" ></header>
	<div id="container">
		<div sec:authorize="isAuthenticated()" class="auth">
			<h3 sec:authentication="principal.member.name"></h3>
			<!-- <p th:text="${#authentication.getPrincipal()}"></p> -->
		</div>
		<div class="main_img">
			<img class="index_img" th:src="@{/img/newyear.jpg}" alt="newyear">
		</div>
	</div>
<footer th:replace="~{layout/footer :: footer-fragment}"></footer>
<script>
	const logout = function(){
		alert("로그아웃 되었습니다");
	}
</script>
</body>
</html>