<!DOCTYPE html>
<!-- thymeleaf 주입 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CONTENT</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div id="container">
		<h2>Content</h2>
		<table class="tbl_write">
			<tbody>
				<tr>
					<td><input type="text" name="boardTitle" 
						th:value="${board.boardTitle}" readonly>
					</td>
				</tr>
				<tr>
					<td><textarea rows="5" cols="50" name="boardContent"
							th:text="${board.boardContent}" readonly></textarea></td>
				</tr>
				<tr>
					<td>
						<div class="board_info">
							<p th:text="'hits: ' + ${board.boardHits}"></p>
							<p th:text="'writer: ' + ${board.boardWriter}"></p>
							<p th:if="${board.updatedDate != empty}" th:text="'date: ' + ${#temporals.format(board.updatedDate, 'yyyy-MM-dd HH:mm:ss')} + ' (updated)'"></p>
							<p th:unless="${board.updatedDate != empty}" th:text="'date: ' + ${#temporals.format(board.createdDate, 'yyyy-MM-dd HH:mm:ss')} + ' (created)'"></p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="writeBtn">
			<!-- <input class="write_btn" type="submit" value="Write">  -->
			<div class="other_writeBtn">
				<a th:if="${session.sessionEmail}" th:href="@{/main}"><button class="btn_home" type="button">Home</button></a>
				<a th:unless="${session.sessionEmail}" th:href="@{/}"><button class="btn_home" type="button">Home</button></a>
				<a th:if="${session.sessionName == board.boardWriter}" th:href="@{|/board/update/${board.id}|}">
					<button class="btn_home">Update</button>
				</a>
				<a th:if="${session.sessionName == board.boardWriter}" th:href="@{|/board/delete/${board.id}|}">
					<button class="write_cancel_btn" onclick="return confirm('해당 게시글을 삭제하시겠습니까?')">Delete</button>
				</a>
				<!-- Pageable 크래스의 page -> getPageNumber() -->
				<a th:href="@{/board/pagelist(page=${page})}"><button
						class="write_cancel_btn" type="button">List</button></a>
				<!-- <input class="write_cancel_btn" type="reset" value="Cancel"> -->
			</div>
		</div>
	</div>
</body>
</html>